
<form method="post" action="/user/search" class="user pt-5 d-flex align-items-center flex-column">
<a href="/" class="btn btn-logout">Đăng xuất</a>
  <div class="search">
    <div class="input-group search-form ">
      <input id="search-input" name="search" type="text" class="input-active form-control" placeholder="Recipient's username">
      <button type="submit" class="btn btn-primary ml-2">Tìm kiếm</button>
    </div>
  </div>

  <div class="container mt-3">
    <div class="row p-custome">
    {{#each film}}
      <div class="col-3 col underline mx-2">
          <a href="/user/{{this._id}}">
            <img class="card-img-top card-item" src="https://i.ytimg.com/vi/{{this.link}}/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLC14sH0T_2eF8AedcmME0VhPfB5_w" alt="Card image cap">
          </a>
          <div class="item-info p-2">
            <a class="name-link" href="/user/{{this._id}}">
              <h5 class="name">{{this.name}}</h5>
            </a>
            <div class="rate">
                <i class="fa-regular fa-star rate-icon"></i>
                <i class="fa-regular fa-star rate-icon"></i>
                <i class="fa-regular fa-star rate-icon"></i>
                <i class="fa-regular fa-star rate-icon"></i>
                <i class="fa-regular fa-star rate-icon"></i>
            </div>
          </div>
      </div>
    {{/each}}
    </div>

  </div>
</form>
